# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv

# Node
node_modules/
dist/
build/
*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Env
.env
.env.local
*.pem

# OS
.DS_Store
Thumbs.db
